*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html{
    scroll-behavior: smooth;
    color: black;
    font-size: 22px;
    font-family: 'Ramaraja', serif;
    text-rendering: optimizeLegibility;
}

.row{
    max-width: 1140px;
    margin: auto;
}

section{
    padding: 80px 0;
}


/* ------------------Headings --------------------- */

h1{
    font-weight: 300;
}

h3{
    font-size: 25px;
}


h2{
    text-align: center;
    color: white;
    margin-bottom: 1%;
    font-weight: 300;
}
h2:after{
    display: block;
    height: 2px;
    background-color:orange;
    content: " ";
    width:100px;
    margin:0 auto;
    /* margin-top: 10px; */
}



/* ------------------ header ---------------------- */

.logo{
    color: orange;
    float: left;
    width: 50px;
    height: 50px;
    margin-left: 10px;
    margin-top: 5px;
}
.logo img{
    width: 100%;
    height: 100%;
}

nav{
    position: fixed;
    width: 100%;
    height: 60px;
    background-color: black;
    z-index: 100;
}

.main-nav{
    display: flex;
    /* background-color: black; */
    /* text-align: end; */
    justify-content: flex-end;
}

.main-nav li{
    margin-right: 2px;
    list-style: none;
    padding: 18px;
}

.main-nav li a{
    font-weight: 300;
    font-size: 90%;
    text-decoration: none;
    color: orange;
    transition: color 0.3s;
}
.main-nav li a:hover{
    color: white;
}


/* .sticky .navbar .main-nav{
    display: none;
} */




header{
    background-image:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0.8)),url("img/hero.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}

.hero-text-box{
    font-size: 110%;
    color: white;
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.extra_info{
    font-size: 110%;
    background-color: #005a87;
    color: white;
    padding: 1%;
    text-align: center;
}

.full_view{
    height: 100vh;
    width: 100%;
}


/* --------------- Home ------------------- */


.home_row,.about_row,.services_row{
    background: rgb(153,102,51);
background: linear-gradient(84deg, rgba(153,102,51,1) 0%, rgba(205,150,33,1) 54%, rgba(153,102,51,1) 100%);
    border-radius: 30px;
}

.description{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
    text-align: center;
    padding: 2%;
}
.description-text{
    font-weight: 100;
    letter-spacing: 2px;
    line-height: 40px;
    text-align: justify;
    font-size: 25px;
}

/* --------------- About --------------------- */



.about-description{
    color: white;
    font-weight: 100;
    letter-spacing: 2px;
    line-height: 40px;
    text-align: justify;
    font-size: 25px;
}

/* ---------------Services -------------------- */

.services_description{
    color: white;
    font-weight: 100;
    letter-spacing: 2px;
    line-height: 40px;
    text-align: center;
    font-size: 25px;
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    background: rgb(153,102,51);
background: linear-gradient(84deg, rgba(153,102,51,1) 0%, rgba(205,150,33,1) 54%, rgba(153,102,51,1) 100%);
    color: white;
    text-align: center;
    height: 300px;
}



/* --------------- footer--------------------- */


section{
    background-color: black;
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    padding: 2%;
    color: orange;
    text-align: center;
}

.information{
    font-size: 120%;
}

a{
    color: white;
    list-style: none;
    text-decoration: none;
}


/* -------------- Blindness------------------ */



/* ------------- Responsive ----------------- */

@media only screen and (max-width: 500px) {
    html{
        font-size: 10px;
    }

    section{
        padding:40px 0;
    }

    .hero-text-box{
        padding: 0 2%;
        width: 100%;
    }

    nav{
        height: 30px;
        background-color: black;
    }

    .logo_text{
        color: orange;
        float: left;
        padding: 10px;
        /* margin-left: 1%; */
    }

    .main-nav li{
        padding: 10px;
    }

}



